body {
	background-color: PeachPuff;
}

h1 {
	font-family: Impact, Charcoal, sans-serif;
	color: LightCoral;
	text-align: center;
	border: 4px double blue;
	font-size: xx-large;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}